* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  padding: 0 24px;
  border-bottom: 0.5px solid rgba(62, 62, 62, 0.1);

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-weight: 700;
}

header .logo {
  width: 82px;
  display: flex;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;

  padding: 16px 0;

  display: block;
}

header ul {
  list-style-type: none;
}

header .list-links ul {
  display: flex;
  flex-direction: row;
}
header .list-links li {
  margin-left: 24px;
  color: #3e3e3e;
}
header .list-links a {
  position: relative;
}
header .list-links a::after {
  content: "";

  height: 0;
  width: 100%;

  bottom: 0;
  left: 0;
  position: absolute;

  background-color: #111;
  transition: 0.2s height;
}
header .list-links a:hover::after {
  height: 2px;
}

header .logo-owner {
  display: flex;
  align-items: center;
}
header .logo-owner img {
  width: 60px;
  filter: invert(1);
}

header .auth-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8px;
  align-items: center;

  font-size: 14px;
}

.d-flex {
  display: flex;
}

.btn-sub {
  text-align: center;

  padding: 0.5rem 1rem;
  border-radius: 10rem;
}
.btn-log {
  color: #3e3e3e;
  border: 0.5px solid rgba(62, 62, 62, 0.1);
  transition: 0.3s background;
}
.btn-log:hover {
  background: #f1f1f1;
}

.btn-reg {
  background: #0057ff;
  color: white;
  transition: 0.3s filter;
}
.btn-reg:hover {
  filter: saturate(0.66);
}

.search-bar {
  padding: 24px;
}

.search-bar .search-box {
  display: grid;
  grid-template-columns: 70% 30%;
}

.search-box .search-area {
  background-color: #f9f9f9;

  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  border: 1px solid #ccc;

  display: flex;
}

.search-area .icon-search {
  font-size: 20px;
  color: #696969;
  padding: 15px;
}
.search-area input {
  background: none;
  border: none;

  flex: 1;

  font-weight: bold;
  font-size: 20px;
}
.search-area input:focus {
  outline: none;
}

.search-box .filters-search {
  padding: 10px 16px;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  border: 1px solid #ccc;
  border-left: none;
}
.filters-search ul {
  list-style-type: none;

  height: 100%;

  display: flex;
  justify-content: space-around;
}
.filters-search li {
  display: flex;
  align-items: center;
}
.filters-search a {
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: #191919;

  padding: 6px 12px;
  border-radius: 999px;

  transition: 0.3s background-color;
}
.filters-search a:hover {
  background-color: #f2f2f2;
}
.filters-search a.active {
  background-color: #000;
  color: white;
}
