body {
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    right: -450px;

    background: black;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;

    width: 450px;
    max-width: 100vw;
  }
  nav.active {
    right: 0;

    opacity: 1;
    visibility: visible;
  }
}
nav a {
  color: inherit;
  text-decoration: inherit;

  transition: 0.3s color;
}
nav a:hover {
  color: #1ed760 !important;
}
nav ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 34px;
}
nav ul + ul {
  margin-left: 35px !important;
}
nav ul + ul:before {
  content: "";

  position: absolute;
  left: -17px;

  width: 1px;
  height: 100%;

  background: white;
}
@media screen and (max-width: 768px) {
  nav {
    padding: 2.5rem;
  }
  nav ul {
    display: flex;
    flex-direction: column;
  }
  nav ul:first-child {
    font-size: 36px !important;
  }
  nav ul + ul {
    margin-left: 0 !important;
    margin-top: 51px !important;

    font-weight: 500 !important;
    font-size: 28px !important;
  }
  nav ul + ul:before {
    left: 0 !important;
    top: -24px !important;

    width: 24px !important;
    height: 3px !important;
  }
}

.hamburguer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: transparent;

  padding: 0;
  border: none;
  width: 24px;
  height: 17px;

  z-index: 100;
}
.hamburguer .line {
  height: 3px;
  width: 100%;

  pointer-events: none;

  background-color: #fff;
  transition: 0.3s all;
}
.hamburguer.active .line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.hamburguer.active .line:nth-child(2) {
  opacity: 0;
}
.hamburguer.active .line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.main-post {
  background: #2941ab;
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: right 40% center;
}
.main-post h1 {
  font-size: 84px;
  font-weight: 800;
  color: #1ed760;
}
.main-post button {
  font-size: 13px;
  font-weight: 700;
  color: #2941ab;

  background: #1ed760;
  transition: 0.3s transform;

  border: 0;
  border-radius: 50px;
  padding: 14px 32px;
}
.main-post button:hover {
  transform: scale(1.03);
}

@media screen and (min-width: 1200px) {
  .main-post h1 {
    font-size: 140px;
  }
}

@media screen and (min-width: 992px) {
  .main-post {
    height: calc(100vh - 63.56px);
  }
}
@media screen and (min-width: 768px) {
  .main-post {
    height: calc(100vh - 52.78px);
  }
}
@media screen and (max-width: 768px) {
  .main-post {
    height: calc(100vh - 48px);
  }
}

.cards-plan {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.cards-plan .card {
  padding: 16px;
  border-radius: 10px;

  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);

  color: black;
  font-weight: 500;
}
.cards-plan .card .toast-awe {
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 10px;

  background-color: #2e77d0;

  display: inline-block;

  font-weight: 700;
  color: white;
  font-size: 13px;
}
.cards-plan .card .title {
  font-size: 22px;
  font-weight: bold;

  margin-top: 37px;

  margin-bottom: 4px;
}
.cards-plan .card .toast-awe + .title {
  margin-top: 0;
}
.cards-plan .card .description {
  margin-bottom: 8px;
  font-size: 14px;
}
.cards-plan .card .access {
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 12px;

  display: block;
}
.cards-plan .card .benefits {
  flex: 1;
}
.cards-plan .card .benefits ul {
  list-style-type: none;

  margin: 0;
  padding: 0;
}
.cards-plan .card .benefits li {
  position: relative;

  padding: 5px 32px;
  padding-right: 0px;
}
.cards-plan .card .benefits li::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);

  width: 24px;
  height: 28px;

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' class='Svg-sc-1usfroi-0 gnpyKV'%3E%3Cpath fill='none' stroke='%23181818' d='M3.32 12.86L8.9 19.4 20.99 5.26'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
.cards-plan .card a {
  background: #191414;
  transition: 0.3s transform;

  color: white;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;

  padding: 17px 28px;
  border-radius: 50px;
  margin-top: 8px;
}
.cards-plan .card a:hover {
  transform: scale(1.03);
}
@media screen and (max-width: 992px) {
  .cards-plan {
    grid-template-columns: 1fr;
  }
  .list-footer {
    padding-top: 48px !important;
    padding-bottom: 48px;
  }
}

.list-footer {
  padding-top: 24px;
}
.list-footer h3 {
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 800;
  text-transform: uppercase;
  color: #919496;

  margin-bottom: 16px;
}
.list-footer ul {
  font-size: 14px;
  font-weight: 600;
  color: #fff;

  list-style-type: none;

  padding: 0;
  margin: 0;
}
.list-footer li {
  padding: 8px 0;
}
.list-footer a {
  color: inherit;
  text-decoration: none;
}
.list-footer a:hover,
.link-socials a:hover {
  color: #1ed760 !important;
}

.link-socials {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
}
.link-socials li + li {
  margin-left: 16px;
}
.link-socials a {
  background: #222326;

  color: white;
  text-decoration: none;

  width: 54px;
  height: 54px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.link-socials a i {
  font-size: 24px;
}

.region {
  font-size: 9px;
  color: #919496;
  font-weight: 500;
}
.rights {
  font-size: 9px;
  color: #919496;
}
.util-links {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.util-links a {
  color: #919496;
  font-size: 9px;
  text-decoration: none;

  margin-right: 8px;
}

.text-awe-dark1 {
  color: #d9dadc !important;
}
.text-awe-green1 {
  color: #1ed760 !important;
}
.text-awe-black1 {
  color: #000;
}
.list-none {
  list-style-type: none !important;
}
.bg-black {
  background-color: #000 !important;
}
.fz-14 {
  font-size: 14px !important;
}
.fz-16 {
  font-size: 16px !important;
}
.fz-40 {
  font-size: 40px !important;
}
.fw-medium {
  font-weight: 500 !important;
}
.py-awe-12 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}
.py-awe-32 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
.pt-awe-80 {
  padding-top: 5rem !important;
}
.pb-awe-50 {
  padding-bottom: 3.13rem !important;
}
.mb-awe-32 {
  margin-bottom: 2rem !important;
}
.mb-awe-36 {
  margin-bottom: 2.25rem !important;
}
.max-w50 {
  max-width: 50% !important;
}

.logo {
  width: 132px;
}
@media screen and (max-width: 768px) {
  .logo {
    width: 89px;
  }
}
